{% extends 'base.html' %} {% load static %} {% block content %} {% load static %}

<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-success border-success"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">上报数量</div>
                        <div class="stat-digit">{{ reportcount|default:"0" }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-primary border-primary"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">正面数量</div>
                        <div class="stat-digit">{{ positive }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-pink border-pink"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">中立数量</div>
                        <div class="stat-digit">{{ neutral }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-danger border-danger"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">反面数量</div>
                        <div class="stat-digit">{{ negative }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- /# column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title pr">
                    <h4>今日上报</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table student-data-table m-t-20">
                            <thead>
                            <tr>
                                <th>舆情名称</th>
                                <th>舆情内容</th>
                                <th>关键词</th>
                                <th>上报时间</th>
                                <th>舆情地点</th>
                                <th>舆情属性</th>
                                <th>舆情评分</th>
                                <th>联系方式</th>
                                <th>是否已处理</th>
                                <th>处理人员</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rt in reportevent %}
                            <tr>
                                <td>{{ rt.title }}</td>
                                <td>{{ rt.content |slice:"0:30" }}</td>
                                <td>{{ rt.keywords |default_if_none:"-" }}</td>
                                <td>{{ rt.report_time |date:"Y-m-d H:i:s" }}</td>
                                <td>{{ rt.address }}</td>
                                <td>{% if rt.lyric_attribute == '1' %} <span class="badge badge-success">正面 </span>{%
                                    elif rt.lyric_attribute == '0' %} <span class="badge badge-primary">中立 </span>{%
                                    elif rt.lyric_attribute == '-1' %} <span class="badge badge-danger">反面 </span>{%
                                    else%} - {% endif %}
                                </td>

                                <td>{{ rt.score |default_if_none:"-"}}</td>
                                <td>{{ rt.contract |default_if_none:"-"}}</td>
                                <td>
                                    {% if rt.deal_with %}
                                    <span class="badge badge-primary">已处理</span> {% else %}
                                    <span class="badge badge-warning">未处理</span> {% endif %}
                                </td>
                                <td>{{ rt.user |default_if_none:"-"}}</td>
                                <td>{{ rt.remark |default_if_none:"-"}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
</section>
{% endblock %}