{% extends 'base.html' %} {% load static %} {% block content %} {% load static %}

<!-- /# row -->
<section id="main-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-success border-success"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">舆情数量</div>
                        <div class="stat-digit">{{ datasummary |default:"0" }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-primary border-primary"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">正面数量</div>
                        <div class="stat-digit">{{ positive }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-pink border-pink"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">中立数量</div>
                        <div class="stat-digit">{{ neutral }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-comment-alt color-danger border-danger"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">反面数量</div>
                        <div class="stat-digit">{{ negative }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- /# column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title pr">
                    <h4>今日舆情</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table student-data-table m-t-20">
                            <thead>
                            <tr>
                                <th>舆情名称</th>
                                <th>舆情摘要</th>
                                <th>舆情链接</th>
                                <th>舆情来源</th>
                                <th>媒体类型</th>
                                <th>舆情属性</th>
                                <th>发表时间</th>
                                <th>采集时间</th>
                                <th>关联度</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ds in datasummary %}
                            <tr>
                                <td>{{ ds.title }}</td>
                                <td>{{ ds.intro |slice:"0:30" }}</td>
                                <td>{{ ds.content_url }}</td>
                                <td>{{ ds.content_from }}</td>
                                <td>{{ ds.media_type }}</td>
                                <td>{% if ds.lyric_attribute == '1' %} <span class="badge badge-success">正面 </span>{%
                                    elif ds.lyric_attribute == '0' %} <span class="badge badge-primary">中立 </span>{%
                                    elif ds.lyric_attribute == '-1' %} <span class="badge badge-danger">反面 </span>{%
                                    else%} - {% endif %}
                                </td>
                                <td>{{ ds.publish_time |date:"Y-m-d H:i:s" }}</td>
                                <td>{{ ds.update_time |date:"Y-m-d H:i:s" }}</td>
                                <td>{{ ds.correlation }}</td>
                                <td>{{ ds.remark |default_if_none:"-"}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
</section>
{% endblock %}